@media screen and (min-width: 768px) {
    
    #banner > .container {
        position: relative;
        padding: 110px 0 40px;
    }
    
    #banner > .container::before {
        position: absolute;
        content: "";
        background: url(../images/logo_bg.png) 0 0 no-repeat;
        width: 188px;
        height: 133px;
        top: 0;
        left: 0;
    }   
    
    #banner > .container::after {
        position: absolute;
        content: "";
        background: url(../images/search_bg.png) 0 0 no-repeat;
        width: 230px;
        height: 44px;
        top: 0;
        right: 0;
    }
}