<h3 class="text-white">Testimonials</h3>
<div class="row">
  {{#each data}}
    <div class="col">
      <p>{{summary}}</p>
      <div class="text-white">{{name}}</div>
      <a href="mailto:infor@demolink.org">{{email}}</a>
    </div>
  {{/each}}
</div>